body {
    color1:#E4DCDA,  stone-500   25 5.3% 44.7%
    color2:#262423,    stone-950   20 14.3% 4.1%
    color3:#E24E46,    red-800   0 74.7% 15.5%
    color4:#ED7363     red-500   0 84.2% 60.2%

    32.5 100% 95.29%
}